<div class="container">
    <h1>Add Employee</h1>
    <form #addEmployeeForm="ngForm" (ngSubmit)="submitEmployee(addEmployeeForm)">
        <div class="mb-3">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="empDetails.email" pattern=".*@[a-zA-Z0-9.-]*" required #emailVal="ngModel">
            <div class="text-danger" *ngIf="emailVal.touched && emailVal.errors && emailVal.errors['required']">Please enter your email</div>
            <div class="text-danger" *ngIf="emailVal.touched && emailVal.errors && emailVal.errors['pattern']">Please provide a vaild email</div>
            <!-- OR -->
             <!-- <div *ngIf="emailVal.touched && emailVal.errors">
                <div *ngIf="emailVal.errors['required']">Please enter your email</div>
                <div *ngIf="emailVal.errors['pattern']">Please provide a vaild email</div>
             </div> -->
        </div>
        <div class="mb-3">
            <label for="firts_name">First Name</label>
            <input class="form-control" type="first_name" name="first_name" minlength="3" [(ngModel)]="empDetails.first_name" required #firstNameVal="ngModel">
            <div class="text-danger" *ngIf="firstNameVal.touched && firstNameVal.errors">
                <div *ngIf="firstNameVal.errors['required']">Please enter your name</div>
                <div *ngIf="firstNameVal.errors['minlength']">First Name should have atleast 3 characters</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="last_name" name="last_name" [(ngModel)]="empDetails.last_name" >
        </div>

        <div class="mb-3">
            <label for="salary">Salary</label>
            <input class="form-control" type="salary" name="salary" [(ngModel)]="empDetails.salary" >
        </div>

        <div class="mb-3">
            <label for="department">Department</label>
            <input class="form-control" type="department" name="department" [(ngModel)]="empDetails.department" required #departmentVal="ngModel">
            <div class="text-danger" *ngIf="departmentVal.invalid && departmentVal.touched">Please provide a department</div>
        </div>
        
        <button type="submit" class="btn btn-outline-primary">Add Employee</button>
    </form>
</div>
